<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> </title>
  <style>button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}</style>
</head>
<body>
<h1 align="center"><b>About this Project</b></h1>
<p align="justify">The Online Crime Reporting System is an application that covers complete case management system and this project
  will help in managing all activities of the police station. It can used to report crimes and manage all the activi
  ties in a police station using computers by tracking all the details of complaints, most wanted criminal, police
  station, etc. Currently, most tasks are done manually, but by computerizing all the activities inside a police sta
  tion the working systems can be managed easily and effectively. The modules involved in this project are: Login for
  user and admin, complaint registration, view complaint status, criminal register management, case history details m
  anagement, manage the list about most wanted criminals, latest news regarding crime in the city, Safety tips for ind
  ividuals, especially for women and also for vendors. This project is helpful in the Automation of police station rec
  ords, including complaints, criminal records, Admin, User and Police Station Management System, etc.</p>
<p><button type="button"onclick="history.back()">Go Back</button></p>

</body>
</html>