<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
</head>
<style>
  table, th, td {
  border:1px solid black;
  padding:8px;}
  button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: yellow;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

button:hover, a:hover {
  opacity: 0.7;
}
</style>
<body>
<h1 align="center">Emergency Contacts of Hospital</h1>
<p align="center"><ul>




  <table align="center">
  <tr>
    <th>Hospital Name</th>
    <th>Contact No.</th>
  </tr>
  <tr>
    <td> Dhaka Medical College Hospital</td>
    <td>Tel : 8626812-26, 8626818-25</td>
  </tr>
  <tr>
    <td>PG Hospital (BSMMU) Shahabagh, Dhaka </td>
    <td>Tel: 8612550, 8614545-9, 9661900-59</td>
  </tr>
    <tr>
    <td>Sir Salimullah Medical College Hospital
Midford, Dhaka – 1100</td>
    <td>Tel: 7310061-4, 7319002-6</td>
  </tr>
    <tr>
    <td>Holy Family Hospital
Eskaton Garden</td>
    <td>Tel: 8311721-25, 8321721-24</td>
  </tr>
    <tr>
    <td>BIRDEM (Diabetic Hospital)
Shahabagh</td>
    <td>Tel: 9661551-60,8616641-50</td>
  </tr>
    <tr>
    <td>Shahid Suhrawardy Hospital</td>
    <td>Tel : 9122560-78, 9130800</td>
  </tr>

</table>


</ul> </p>
<p><button type="button"onclick="history.back()">Go Back</button></p>
</body>
</html>